{% extends "base.html" %}
{% block title %}О службе{% endblock %}
{% block crumbs %}<span>/</span><span>О службе</span>{% endblock %}
{% block content %}
<h1>О службе технической поддержки</h1>
<p>Служба технической поддержки Департамента информационных технологий обеспечивает бесперебойную работу информационной инфраструктуры университета: компьютерной техники, программного обеспечения, локальной сети и сервисов.</p>
<p>Основные задачи службы:</p>
<ul class="list">
    <li>приём и регистрация заявок пользователей;</li>
    <li>диагностика и устранение неисправностей;</li>
    <li>установка и настройка программного обеспечения;</li>
    <li>сопровождение пользователей и ведение базы знаний.</li>
</ul>
{% endblock %}
